body {
    text-align: center;
    background-color: #4b5c8a;
  }
  
  h1 {
    font-size: 5rem;
    color: #5ca0b7;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #e3689f;
  }
  
  footer {
    color: #103643;
    font-family: sans-serif;
  }
  
  .drum {
    outline: none;
    border: 10px solid #3a4c7e;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #d52072;
    text-shadow: 3px 0 #4b7c8c;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: rgb(247, 236, 242);
  }
  .d{
    background-image: url(crash.png);
    background-size: cover; 
  }
  
  .r {
    background-image: url(snare.png);
    background-size: cover; 
  }
  
   .u{
    background-image: url(tom1\ -\ Copy.png);
    background-size: cover; 
    color:rgb(246, 149, 205);
   }
  
  .m {
    background-image: url(kick.png);
    background-size: cover; 
  }
  
  .k {
    background-image: url(tom3.png);
    background-size: cover; 
    color:rgb(246, 149, 205);
  }
  
  .i {
    background-image: url(tom2.png);
    background-size: cover; 
    color:rgb(246, 149, 205);
  }
  
  .t {
    background-image: url(crash.png);
    background-size: cover; 
  } 
  
  .set {
    margin: 10% auto;
  }
  
  .game-over {
    background-color: rgb(144, 50, 50);
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #78a6b5;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }
/*   
  .drum {
    outline: none;
    border: 10px solid #8291b9;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #d52072;
    text-shadow: 3px 0 #4b7c8c;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  } */
  